body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*imagenes categoria*/
.container-btn-categoria {
    display: flex;
    width: 200%;
    height: 240px;
    margin-left: 210px;
    margin-top: 20px;
  }
  
  .button {
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .button:hover {
    transform: translateY(-5px);
  }
  
  .button img {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 240px;
  }
  
  .button img:hover {
    opacity: 0.8;
  }




.titulo-principal {
    text-align: center;
    font-size: 3em;
    font-family: 'Arial Black', sans-serif;
    /* Otros estilos opcionales */
    color: #333;
    /* Color del texto */
    text-transform: uppercase;
    /* Convertir texto a mayúsculas */
    /* Agrega más estilos según tus preferencias */
}


header {
    background-color: #D4843D;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ccc;
}

.tabs button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    font-size: 17px;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    padding: 20px;
}

.sidebar h2,
.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.main-content {
    width: 80%;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: 23%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    position: relative;
}

.product-card img {
    width: 100%;
    height: 140px;
}

.product-card .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
}

.product-card .rating {
    color: gold;
    margin: 10px 0;
}

.product-card .price-list {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
}

.product-card button {
    background-color: #5D6D7E;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.product-card button:hover {
    background-color: #34495E;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/*Mensaje NO STOCK*/
.not-available {
    display: none;
    /* Oculta el mensaje por defecto */
    color: red;
    /* Color de texto para indicar que no está disponible */
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    /* Espacio arriba del mensaje */
}